body{
    background-color: aliceblue;
    margin: 0;
}

.barra{
    height: 80px;
    background-image: url('img/pattern.png');
    background-color:aqua;
    background-size: 300px;
}

#logo{
  height: 60px;
  vertical-align: middle;
}

address{
  font-style: normal;
  font-size: 18px;
}

.text-gray{
  color: gray;
}

.text-small{
  font-size: 12px;
}

/* UTILS*/

.container{
    width: 1050px;
    margin: 0 auto;
}

.logo{
  vertical-align: middle;
  height: 50px;
}

ul{
padding-inline-start: 0;
list-style-position: inside;
}

table{
    margin-top: 20px;
    width: 100%;
    height: auto;
    table-layout: auto;
    border-collapse: collapse;
}

th{
    text-align: left;
    background-color: rgb(68, 185, 253);
    color: aliceblue;
}

.color-table{
    background-color: rgb(97, 229, 247);
}

.style-color{
    background-color: yellow;
}

.related-article{
  width: 200px;
  height: 190px;
  color: white;
  margin-bottom: 20px;
  background-size: cover;
}

#monitor-image{
  background-image: url('img/monitor.jpg');
}

#graph-image{
  background-image: url('img/graph.jpg');
}

.related-text{
  font-size: 18px;
  margin: 0;
}
